#game {
  width: 100vw;
  outline: 0;
  image-rendering: pixelated;
}

html,
body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
